<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
{% include "header.html" %}

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Start Your Tech Journey Today</h1>
            <p class="col-lg-10 fs-4" style="text-align: justify;">
                Welcome, <b>Admin</b>! You can manage student results and keep their academic records up to date through the administration panel. To update a student's result, locate the student's record, enter the correct score or result details, review the information carefully, and save your changes. <b>Nubels Digital Academy</b> makes it simple to manage and maintain accurate student records.
            </p>
            <p class="col-lg-10 fs-4" style="text-align: justify;">
                Fill out the form below to update a student's result. Enter the student's registration number and name, then provide the correct course and result details. Please review all information carefully before submitting the form to ensure the student's record is accurate and up to date.
            </p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">

            <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" action="{{url_for('admin')}}" method="POST">
                <div class="form-floating mb-3">
                    {% if message %}
                    <div class="error-message">
                        {{ message }}
                    </div>
                    {% endif %}

                    {% from 'bootstrap5/form.html' import render_form %}
                    {{ render_form(form) }}
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row bg-light">
        <table class="table table-hover">
            <thead class="table">
            <tr>
                <th scope="col">Student ID</th>
                <th scope="col">Student Name</th>
                <th scope="col">Student Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Course</th>
                <th scope="col">Student Score</th>
            </tr>
            </thead>
            <tbody>
            {% for student in students %}
            <tr>
                <td>{{student.registration}}</td>
                <td>{{student.name}}</td>
                <td>{{student.email}}</td>
                <td>{{student.number}}</td>
                <td>{{student.course}}</td>
                <td>{{student.score}}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% include "footer.html" %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>