<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
{% include "header.html" %}

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Start Your Tech Journey Today</h1>
            <p class="col-lg-10 fs-4" style="text-align: justify;">
                Ready to continue your learning journey? <b>Nubels Digital Academy</b> provides practical, hands-on training designed to help you build valuable digital skills and grow your career.
            </p>
            <p class="col-lg-10 fs-4" style="text-align: justify;">
                Log in to your account to access your learning information, courses, and other resources available to you. If you do not have an account yet, you can register to get started.
            </p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">

            <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" action="{{url_for('login')}}" method="POST">
                <div class="form-floating mb-3">
                    {% if message %}
                    <div class="error-message">
                        {{ message }}
                    </div>
                    {% endif %}
                    {% from 'bootstrap5/form.html' import render_form %}
                    {{ render_form(form) }}
                </div>
                <div class="text-center mt-3">
                    <p class="mb-0"> Not yet registered?
                        <a href="{{ url_for('register') }}" class="text-decoration-none fw-bold"> Register here </a>
                    </p>
                </div>

            </form>
        </div>
    </div>
</div>



{% include "footer.html" %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>